* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

@font-face {
  font-family: "LuckiestGuy";
  src: url("./assets/fonts/LuckiestGuy-Regular.ttf");
}
:root {
  --rose: rgba(170, 160, 159, 1);
  --licorice: 35, 26, 21;
  --teal: rgba(105, 177, 166, 1);
  --pale-orange: rgba(225, 164, 97, 1);
  --chestnut: rgba(151, 74, 67, 1);
  --maroon: 58, 15, 6;
  --dark-teal: rgba(44, 96, 94, 1)
}

body {
  display: flex;
  font-family: sans-serif;
}

.left-container {
  background-image: url("./assets/images/background-by-quinton-coetzee-unsplash.jpg");
  background-size: cover;
  background-position: center;

  height: 100vh;
  width: 40vw;

  position: relative;
  overflow: hidden;
}

.img-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  justify-content: center;
  height: 120px;
  
  .icon {
  width: 4rem;
  max-height: 100%;
  }
  h1 {
  color: #edd55a;
  font-size: 4rem;
  text-wrap: nowrap;
  font-family: 'LuckiestGuy';
  margin-top: 20px;
  letter-spacing: 5px;;
  }
}

.photo-credit,
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  opacity: 50%;
  font-family: sans-serif;
  font-size: 0.8rem;
  bottom: 5px;

  a {
    color: white;
  }
  a:visted {
    color: white;
  }
}

.right-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  background-color:var(--teal);
  gap: 50px;
  position: relative;
  box-shadow: -10px 0 20px rgba(var(--licorice), 0.3);

  > h3 {
    font-size: 20px;
    padding: 0 30px;
    color: rgba(var(--licorice), 1);
  }
}

.form-container {
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(var(--maroon), 1);
    border-radius: 10px;
    color: lightgray;
    border: none;
    box-shadow: 3px 3px 10px rgba(var(--licorice), 1);
  }
  > :nth-last-child(-n+2) {
    margin-left: 30px;
  }
  p {
    font-size: 14px;

    a {
      color: var(--dark-teal);
      font-weight: bold;
    }
  }
}

.form-inputs {
  background-color: var(--pale-orange);
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.099);
  gap: 20px;

  h3 {
    color: rgba(var(--licorice), 1);
  }
}

.form-row {
  display: flex;
  gap: 3rem;
}

.single-input {
  display: flex;
  flex-direction: column;
  gap: 2px;

  label {
    color: rgba(var(--licorice), 1);
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px; 
  } 
  input {
    border: 2px solid var(--rose);
    width: 200px;
    border-radius: 5px;
    height: 2em;
    background-color: whitesmoke;
    padding: 5px;
  }
  input:focus {
    outline: none;
    border: 2px solid var(--dark-teal) ;
    box-shadow: 2px 2px 5px rgba(var(--maroon), 0.2);
  }
  .invalid-input {
    border: 2px solid darkred;
    background-color: rgb(255, 201, 212);
  }
  }